/* Global reset (properties that are not inherited) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* inherited properties (mostly text related) */
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.shoe-article {
  border: 4px solid #000;
  width: 825px;
  margin: 50px auto;
  position: relative;
  /* css grid */
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.title,
.details-title,
.shipping,
.add-btn {
  text-transform: uppercase;
}

.title::before {
  content: "sale";
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #ec2f2f;
  color: #fff;
  padding: 7px 15px;
  top: -17px;
  left: -38px;
}

.title {
  text-align: center;
  font-size: 22px;
  background-color: #f7f7f7;
  padding: 15px 0;
  /* css grid */
  grid-column: 1 / -1;
}

.shoe-img {
  width: 250px;
}

.middle-container,
.last-container {
  /* same as flex-grow: 1; flex-shrink: 1; flex-basis: 0;*/
  /* flex items occupy the same available space */
  flex: 1;
  margin-top: 20px;
}

.price-shipping-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

.shoe-paragraph,
.details-title {
  margin-bottom: 15px;
}

.paragraph-link-container {
  margin-bottom: 30px;
}

.info-link:link,
.info-link:visited {
  color: #000;
}

.info-link:focus,
.info-link:hover,
.info-link:active {
  text-decoration: none;
}

.color-boxes-container {
  display: flex;
  gap: 14px;
}

.color-boxes-container div {
  width: 22px;
  height: 22px;
}

.color-boxes-container div:last-child {
  margin-right: 0;
}

.color-1 {
  background-color: #000;
}

.color-2 {
  background-color: #2f6ee2;
}

.color-3 {
  background-color: #ec2f2f;
}

.color-4 {
  background-color: #f0bf1e;
}

.color-5 {
  background-color: #90cc20;
}

.color-6 {
  background-color: #885214;
}

.details-title {
  font-size: 16px;
}

.details-list {
  list-style-type: square;
  padding-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

.details-list li:last-child {
  margin-bottom: 0;
}

.add-btn {
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  /* css grid */
  grid-column: 1 / -1;
}

.add-btn:hover {
  background-color: #fff;
  color: #000;
  border-top: 4px solid #000;
  padding-top: 11px;
}
